langchain
streamlit
langchain-community
langchain_google_genai
google-generativeai
langchain-chroma
tiktoken
unstructured[all-docs]
pillow
lxml
IPython
sentence-transformers
ctransformers
transformers
torch
huggingface_hub[cli]
accelerate
langchain-ollama
torchvision
wikipedia
langgraph
langchain_huggingface
youtube_search
langchain_groq
duckduckgo-search
rank_bm25
weaviate-client
cohere
langchain_cohere
faiss-gpu-cu12
psycopg2-binary
scikit-learn
matplotlib
lark
llama-index
llama-index-vector-stores-qdrant
llama-index-llms-ollama
llama-index-embeddings-ollama
nltk
gensim
tensorflow==2.16.1
ipykernel